body {
    font-family: Arial, sans-serif;
}

.board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    width: 20%;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.column button {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    background-color: #8dbcfa;
}

.card {
    background-color: #cccccc;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-content {
    margin-top: 10px;
}

.card-content button {
    background-color: #8a8a8a;

}

.deadline-block {
    margin-bottom: 10px;
    color: red;
}

.card-actions {
    margin-top: 10px;
}

.card-actions button {
    margin: 5px;
    background-color: #80b8ff;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #8a8a8a;
}

